export CAELESTIA_ROOT="$PWD"
export PATH="/usr/lib/qt6/bin:$PATH"

export QML2_IMPORT_PATH="/usr/lib/qt6/qml:$HOME/.local/lib/qt6/qml:$CAELESTIA_ROOT/shell/build/qml"
export QML_IMPORT_PATH="$QML2_IMPORT_PATH"

export QMLLS_BUILD_DIRS="$CAELESTIA_ROOT/shell/build"
export QT_QMLLS_CONFIG_FILE="$CAELESTIA_ROOT/shell/.qmlls.ini"


enable_shell_env() {
  watch_file shell/**/CMakeLists.txt
  watch_file shell/plugin/**/*.cpp
  watch_file shell/plugin/**/*.hpp

  cmake -S shell -B shell/build -G Ninja \
    -DCMAKE_BUILD_TYPE=RelWithDebInfo \
    -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
  cmake --build shell/build

  export CAELESTIA_LIB_DIR="$CAELESTIA_ROOT/shell/build/lib"
  PATH_add "$CAELESTIA_ROOT/shell/build/bin"
}

case "$PWD" in
  "$CAELESTIA_ROOT"/shell*) enable_shell_env ;;
  "$CAELESTIA_ROOT"/cli*)   enable_cli_env ;;
esac
